.label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(24, 23, 23, 0.829);
}
.input {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  width: 350px;
  height: 35px;
  margin-bottom: 25px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(78, 77, 71, 0.739);
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 25px;
  max-width: 500px;
  background-color: rgba(182, 175, 175, 0.616);
  border-radius: 5px;
}
.submitBtn {
  width: 200px;
  height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  background-color: rgb(245, 236, 115);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  border: none;
  line-height: 15px;
  color: rgba(47, 47, 47, 0.87);
  cursor: pointer;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;

  background-color: rgba(44, 42, 42, 0.561);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submitBtn:hover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(51, 28, 25, 0.541);
  color: rgba(129, 5, 5, 0.644);
  transform: scale(1.1);
}
