.navigation {
  padding-bottom: 10px;
  padding-top: 25px;
  border-bottom: 1px solid rgb(77, 74, 74);
}
.list {
  list-style: none;
  color: inherit;
  display: flex;
  justify-content: space-evenly;
}
.link {
  font-style: normal;
  line-height: 15px;
  color: rgba(24, 23, 23, 0.829);
  font-size: 30px;
  font-weight: bold;
  color: rgba(42, 36, 36, 0.87);
  text-decoration: none;
}
